@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

/*@layer base {
	html{
		font-family: 'Poppins', sans-serif;
	}

	.glassEffect {
		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(1px);
	}
}

.explore-container {
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 2rem;
}*/